@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i);

.remark-slide-content {
  font-family: "PT Serif";
  background: #000;
  color: #fff;
}

p, ul {
  font-size: 35px;
  line-height: 1.35em;
  color: #fff;
  padding: 0;
  padding-left:2em;
  padding-right:2em;
  font-family: "PT Serif"
}

.p {
  font-size: 35px;
  line-height: 1.35em;
  color: #fff;
  padding: 0;
  margin: 0;
  padding-left:2em;
  padding-right:2em;
  font-family: "PT Serif"
}

body {
  font-size: 35px;
  line-height: 1.35em;
  color: #fff;
  padding-left:2em;
  padding-right:2em;
  font-family: "PT Serif"}

h1, h2, h3 {
  color: #fff;
  font-family: "PT Serif";
  font-weight: normal;
  padding-left:1.1em;
  padding-top: .5em;
}

a:link,
a:visited {
  color: orange;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.remark-code, .remark-inline-code {
  display:inline;
  font-family: 'Ubuntu Mono';
  line-height: 1.3em;
  font-size: 25.5px;
  padding-right: 1em;
}

.remark-slide-number {
  color: #000;
}

.remark-slide-scaler {
  box-shadow: 0 0 30px #000;
}

.grey {
  color: #777;
}
